body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #e1dfb9; /* Цвет фона */
}
h2 {
    font-size: 1.1em; /* Размер шрифта */
    color: #800040; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
    text-align: center;
   }
.container {
    width: 95%; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
   }
.container p {
  font: 15pt Arial, Helvetica, sans-serif;
}
.header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #8fa09b; /* Цвет фона шапки */
    color: #ffe; /* Цвет текста */
   }
.sidebar {
    margin-top: 10px; 
    width: 110px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
   }
.content {
  height: 100%;
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона правой колонки */
   }
.footer {
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
  }
table {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  }
td {
    border: 1px solid black;
    }
th{
   border: 1px solid black;}
img{
  height: 600px;
  width: 900px;}
  .imagee{
  text-align: center;
}
body {
  background: url(http://www.sergiev.ru/media/images/1160/0081__2012-0903-03__5d-ii-2-img_3201.jpg) no-repeat;
 
}